.string span:nth-of-type(2) {
  color: #dc6428;
}

.number span:nth-of-type(2) {
  color: #1e78c3;
}

.boolean span:nth-of-type(2) {
  color: #1e78c3;
}

.null span:nth-of-type(2) {
  color: #1e78c3;
}

.object {
  cursor: pointer;
  flex: 1;
}

.objectProperty {
  display: flex;
  padding-left: 10px;
}

.objectPropertyKey {
  flex: 0 0 auto;
  padding-right: 5px;
}

.objectPropertyValue {
  flex: 4;
}

.array {
  cursor: pointer;
  flex: 1;
}

.arrayItem {
  padding-left: 10px;
}
