.debugger {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Helvetica Neue";
  color: #333;
  background-color: #FAFAFA;
}

.toolbar {
  flex: 0 0 40px;
  display: flex;
}

.content {
  flex: 1;
  display: flex;
}

.loading {
  text-align: center;
}

.loading h3 {
  color: #333;
}

.hidden {
    display: none!important;
}
